*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.two-columns{
    display:flex;
}

.two-columns .col{
    background: rgb(0, 255, 200);
    margin:2rem;
    padding:1rem;
    display:flex;
    flex-direction:column;
}

.gallery{
    display:flex;
    flex-flow:row wrap;
}

.gallery .img{
    flex: 1 0 40%;
    height: 5rem;
    background: blue;
    margin:0.5rem
}

p{
    margin: 0 0 1rem 0;
}